  .SelectedDate-header {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 12px;
  }

  .SelectedDate-backBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 28px;
    background: white;
    border-radius: 8px;
    color: #3A85F7;
    border: 1px solid #F2F2F7;
    border-radius: 4px;
    gap: 16px;
  }

  .SelectedDate-list {
    margin-top: 12px;
    border-radius: 8px;
    background: #F2F2F7;
    padding: 16px;
  }

  .SelectedDate-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .SelectedDate-list li button {
    margin: 0 8px;
    background: transparent;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    border: 0;
    cursor: pointer;
  }

  button.btn-edit {
    color: #3A85F7;
  }

  button.btn-delete {
    color: #EB445A;
  }

  button.btn-Cancel {
    color: #8E8E93;
  }

  .checkbox {
    margin-right: 8px;
  }

  .checkbox:checked+span {
    color: #8E8E93;
    text-decoration: line-through;
  }

  .checkboxLabel {
    display: flex;
    align-items: center;
  }

  input[type="checkbox"]:checked {
    accent-color: #68CD67;
    color: #fff !important;
  }

  .editableInput {
    border: 0;
    padding: 4px;
    color: #2B2B2B;
    font-size: 16px;
  }